@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700);
.article .article-url {
  color: black;
}
.article .article-url:hover {
  text-decoration: none;
}
.article .article-url .article-title {
  font-size: 21px;
  font-family: "Source Sans Pro", sans-serif;
}
.article .article-comment-url,
.article .article-author-url {
  color: gray;
}
.article small {
  font-size: 16px;
}
.article hr {
  margin-bottom: 0;
}
