.article .article-url {
  color: black;
}
.article .article-url:hover {
  text-decoration: none;
}
.article .article-comment-url,
.article .article-author-url {
  color: gray;
}
.article small {
  font-size: 16px;
}
.article hr {
  margin-bottom: 0;
}
.article .summary {
  background: transparent;
  border: none;
  text-align: left;
}
.article .summary:active {
  border: none;
}
