.article
{
	.article-url
	{
		color: black;
		&:hover
		{
			text-decoration: none;
		}
	}
	.article-comment-url, .article-author-url
	{
		color: gray;
	}
	small
	{
		font-size: 16px;
	}
	hr
	{
		margin-bottom: 0;
	}
}